.money__images {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
  align-items: center;
}

.money__imageRose {
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.money__imageMid {
  padding-top: -100px;
  margin-bottom: 50px;
  align-self: center;
  align-items: center;
  max-width: 300px;
}

.money__imageRoseRight {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.money__top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 140px;
  background-size: 100%;
  font-size: 80px;
  color: #84bb63;
  z-index: 1;
  background: linear-gradient(rgb(2, 4, 158), transparent),
    linear-gradient(to top right, rgb(30, 255, 1), transparent),
    linear-gradient(to top left, rgb(30, 255, 1), transparent);
}

.money__row {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.money__row2 {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.money__row3 {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
